<!DOCTYPE html>
<html>
<head>
    <title>Video Capture</title>
</head>
<body>
    <h1>Video Capture</h1>
    <button id="startButton">Start</button>
    <video id="videoElement" autoplay></video>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        $(document).ready(function() {
            const videoElement = document.getElementById('videoElement');
            const startButton = document.getElementById('startButton');
        
            // Trigger video capture when Start button is clicked
            startButton.addEventListener('click', function() {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function(stream) {
                        videoElement.srcObject = stream;
                    })
                    .catch(function(error) {
                        console.error('Error accessing the webcam: ', error);
                    });
            });
        });
        
    </script>
</body>
</html>
