<!DOCTYPE html>
<html>
<head>
    <title>Video Capture</title>
</head>
<body>
    <h1>Video Capture</h1>
    <button id="startButton" onclick="startCamera()">Start</button>
    <button id="stopButton" onclick="stopCamera()">Stop</button>
    <video id="videoElement" autoplay></video>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        let videoStream;

        function startCamera() {
            fetch('/start')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to start camera.');
                    }
                    return response.text();
                })
                .then(streamUrl => {
                    videoStream = new MediaStream();
                    const videoElement = document.getElementById('videoElement');
                    videoElement.srcObject = videoStream;

                    navigator.mediaDevices.getUserMedia({ video: true })
                        .then(stream => {
                            videoStream = stream;
                            videoElement.srcObject = stream;
                        })
                        .catch(error => console.error('Error accessing the webcam: ', error));
                })
                .catch(error => console.error('Error:', error));
        }

        function stopCamera() {
            fetch('/stop')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to stop camera.');
                    }
                    videoStream.getTracks().forEach(track => track.stop());
                    document.getElementById('videoElement').srcObject = null;
                })
                .catch(error => console.error('Error:', error));
        }


    </script>
</body>
</html>
